# this is a comment
adafruit_bitmap_font
adafruit_display_text
adafruit_il0737.mpy
adafruit_io
adafruit_magtag
adafruit_miniqr.mpy
adafruit_requests.mpy
adafruit_slideshow.mpy
neopixel.mpy
simpleio.mpy
